.wrapper {
	margin: 40px;
}
.text-standard {
	h2 {
		font-size: 2.8em;
	}
	p {
		font-size: 1.6em;
	}
}
.main-menu {
	display: block;
	text-align: center;
}
main {
	//min-height: calc(80vh - 90px);
}
header .logo a, nav {
	display: inline-block;
}
nav a {
	margin: 40px;
	font-size: 1.6em;
}
.content {
	padding: 5% 10%;
}
.profile-picture {
	width: 200px;
}
.content-frontpage {
	text-align: justify;
}